.sobre_intros {
  margin-top: 120px;
  margin-bottom: 120px;
}
.sobre_intro_01 {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  gap: 30px;
  margin-bottom: 120px;
}
.sobre_intro_02 {
  display: grid;
  grid-template-columns: 2fr 1.5fr;
  gap: 30px;
}
.sobre_intro_text h2 {
  margin-bottom: 30px;
}
.sobre_intro_text p{
  color: var(--Grey);
}
.sobre_intro_p1 {
  margin-bottom: 10px;
}
@media (max-width: 800px) {
  .sobre_intros {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .sobre_intro_text h2 {
    margin-bottom: 20px;
    font-weight: 800;
    font-size: 30px;
    line-height: 40px;
  }
  .sobre_intro_text p{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
  }
  .sobre_intro_p2 {
    display: none;
  }
}
@media (max-width: 650px) {
  .sobre_intro_01, .sobre_intro_02 {
    grid-template-columns: 1fr;
  }
  .sobre_intro_01 {
    margin-bottom: 50px;
  }
  .sobre_intro_img {
    grid-row: 2;
  }
}