.not_found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 120px;
  margin-bottom: 120px;
}

.not_found h1 {
  color: var(--Primary);
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 800;
  font-size: 200px;
}